<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error in Product details.</title>
</head>
<body>
    <hgroup>
        
        <h2>An error occurred while fetching/adding product.</h2>
    </hgroup>
</body>
</html>
