
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Successfully added the product to the database.</h2>

<p>
    @Html.ActionLink("View Products", "Index")
</p>


